* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Stile del titolo */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Stile del form di login */
  form {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  header {
	  max-width: 100%;
    margin: 0 auto;
	  margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
		flex-direction: row;
  }

  header div {
    
  }